<div class="w-100 d-flex d-inline-flex mt-2 p-1 item">
    <div class="col-sm-3">
        <div class="image_content">
            <img class="image" src="{{Item.pic}}" alt="">
        </div>
    </div>
    <div class="col-sm-9 align-content-center">
        <div class="d-flex justify-content-between">
            <div>
                <p class="title_item">{{Item.title}}</p>
                <div class=" d-flex justify-content-center operation">
                    <div class=" btnoperate" style="margin-right: 5px;" (click)="decrease(Item)">
                        <p>-</p>
                    </div>
                    <p>x{{Item.qty}}</p>
                    <div class="btnoperate" style="margin-left: 5px;" (click)="increase(Item)">
                        <p>+</p>
                    </div>
                </div>
            </div>
            <div class="align-self-center">
                {{Item.price*Item.qty}} USD
            </div>
            <div class=" btn_delete align-self-center" (click)="deleteItem(Item)">
                <fa-icon [icon]="Icon" class="icon"></fa-icon>
            </div>

        </div>
    </div>

</div>
