<div class="container mt-2">

    <button class="btn btn-primary" (click)="onClickNewcategory()"> New Category </button>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>

            </tr>
        </thead>
        <tbody>
            <tr class="row_item" *ngFor="let x of list_cate">
                <td>{{x.name}}</td>
                <td>{{x.description}}</td>
                <div class="btn btn_edit" (click)=" onClickeEdit(x)">
                    <fa-icon [icon]="editIcon" class="iconedit"></fa-icon>
                </div>
                <span style="width: 20rem;"></span>


                <div class="btn   btn_delete" (click)="onClickDelete(x)">
                    <fa-icon [icon]="deleteIcon" class="icondelete"></fa-icon>
                </div>

            </tr>

        </tbody>
    </table>

</div>
